.navtest ul {
    font-family: roboto;
    background-color: #EFEEEF;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  .navtest a {
  color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navtest a:hover {
    background-color: #D2D2D2;
  }
  .navtest li {
    float: left;
    font-size: 1.5vw;
  }
  .costHeader {
    position: fixed;
    top: 0px;
    font-family: "Open Sans";
    right: 50px; /* 50px gap from the left */
    background-color: #EFEEEF; /* Light gray background for the header */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    border-radius: 5px; /* Optional: Slightly rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .dropdown {
    position: fixed;
    top: 60px; /* Below the sticky header */
    right: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    display: none; /* Initially hidden */
    transition: max-height 0.3s ease-in-out; /* Smooth animation */
    background-color: #EFEEEF;
    font-family: "open sans";
  }
  .dropdown.open {
    display: block;
  }
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  .dropdown ul li {
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .pointer {
    cursor: pointer;
  }
  .remove-btn {
    color: gray;
    border: none;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .remove-btn:hover {
    background-color: darkgray; /* Darker red on hover */
  }